<!DOCTYPE html>
<html lang='en' ng-app='lecture'>
    <head>
        <meta charset='utf-8'>
        <title>Week 9 - Directives and Filters</title>

        <style>
        /* This will only work in MODERN browsers */
            tiy-movie {
                border: 1px solid red;
                display: block;
            }
        /* This will work in all browsers */
            .tiy-movie {
                background-color: #ccccff;
            }

            time {
                color: #ffffff;
                border-radius: 50%;
                padding: 3em 2em;
            }
        </style>
    </head>
    <body>
        <header ng-controller='HeaderController as hc'>
            <h1>Week 9 - Directives and Filters</h1>

            <my-clock time-format='"h:mm a"' capture='hc.captureTime()'></my-clock>
        </header>

        <main ng-controller='LectureController as lecture'>

            <!-- <article ng-repeat='film in lecture.movies' tiy-movie movie='film' collection='lecture.movies'>  </article> -->

            <tiy-movie class='tiy-movie' ng-repeat='film in lecture.movies' movie='film' collection='lecture.movies'> <!-- the directive's template will go in here --> </tiy-movie>

        </main>

        <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js'></script>
        <script src='/js/lecture.module.js'></script>
        <script src='/js/lecture.controller.js'></script>
        <script src='/js/tiy-movie.directive.js'></script>
        <script src='/js/my-clock.directive.js'></script>
        <script src='/js/header.controller.js'></script>
    </body>
</html>
