
body {
    /* these are in order: 1st priority, then 2nd, and 3rd */
    font-family: Verdana, Arial, sans-serif;
    color: rgb(130, 41, 166);
    margin: 0; /* all four sides, but DOES NOT cascade */
    /* margin-top: 100px; */
}

header {
    background-color: rgb(200, 200, 200);
    padding: 2em;
    border-bottom: 2px solid rgb(50, 50 , 50);
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
}

section p.intro {
    color: rgb(180, 180, 180);
}

.intro {
    font-size: 3em;
}
